### Task 1: Monthly Sales Summary
**Objective**: Generate a summary of total sales for each month using window functions to calculate the running total.

**Dataset**: Sales Table

```sql
CREATE TABLE Sales (
    SaleID INT PRIMARY KEY,
    SaleDate DATE,
    ProductID INT,
    Quantity INT,
    Price DECIMAL(10, 2)
);

INSERT INTO Sales (SaleID, SaleDate, ProductID, Quantity, Price) VALUES
(1, '2023-01-10', 1, 2, 500.00),
(2, '2023-01-15', 2, 3, 150.00),
(3, '2023-01-20', 3, 1, 300.00),
(4, '2023-02-05', 1, 1, 500.00),
(5, '2023-02-10', 2, 2, 150.00),
(6, '2023-02-12', 3, 4, 300.00),
(7, '2023-03-01', 4, 5, 200.00),
(8, '2023-03-03', 5, 2, 700.00),
(9, '2023-03-10', 1, 3, 500.00),
(10, '2023-03-15', 2, 1, 150.00),
(11, '2023-04-05', 1, 4, 500.00),
(12, '2023-04-07', 3, 2, 300.00),
(13, '2023-04-15', 4, 1, 200.00),
(14, '2023-04-20', 5, 3, 700.00),
(15, '2023-05-05', 1, 2, 500.00),
(16, '2023-05-10', 2, 4, 150.00),
(17, '2023-05-15', 3, 2, 300.00),
(18, '2023-05-20', 4, 1, 200.00),
(19, '2023-06-01', 5, 3, 700.00),
(20, '2023-06-15', 1, 2, 500.00);
```

### Task 2: Top N Products by Sales
**Objective**: Create a dynamic SQL query to find the top N products based on total sales. 

**Dataset**: Products Table

```sql
CREATE TABLE Products (
    ProductID INT PRIMARY KEY,
    ProductName VARCHAR(100),
    CategoryID INT
);

INSERT INTO Products (ProductID, ProductName, CategoryID) VALUES
(1, 'Laptop', 1),
(2, 'Smartphone', 2),
(3, 'Headphones', 1),
(4, 'Monitor', 1),
(5, 'Keyboard', 1),
(6, 'Tablet', 2),
(7, 'Smartwatch', 2),
(8, 'Camera', 3),
(9, 'Printer', 3),
(10, 'Scanner', 3),
(11, 'Router', 4),
(12, 'Projector', 4),
(13, 'Speakers', 1),
(14, 'Mouse', 1),
(15, 'USB Hub', 5),
(16, 'Webcam', 4),
(17, 'Microphone', 4),
(18, 'External Hard Drive', 5),
(19, 'Graphics Card', 6),
(20, 'Motherboard', 6);
```

### Task 3: Customer Purchase Analysis
**Objective**: Analyze customer purchases, including total number of purchases and total spending per customer.

**Dataset**: Customers Table

```sql
CREATE TABLE Customers (
    CustomerID INT PRIMARY KEY,
    CustomerName VARCHAR(100),
    Region VARCHAR(100)
);

INSERT INTO Customers (CustomerID, CustomerName, Region) VALUES
(1, 'Alice', 'North'),
(2, 'Bob', 'East'),
(3, 'Charlie', 'West'),
(4, 'David', 'South'),
(5, 'Eva', 'North'),
(6, 'Frank', 'East'),
(7, 'Grace', 'West'),
(8, 'Hannah', 'South'),
(9, 'Ivy', 'North'),
(10, 'Jack', 'East'),
(11, 'Kathy', 'West'),
(12, 'Leo', 'South'),
(13, 'Mia', 'North'),
(14, 'Nina', 'East'),
(15, 'Oscar', 'West'),
(16, 'Paul', 'South'),
(17, 'Quinn', 'North'),
(18, 'Ray', 'East'),
(19, 'Sophie', 'West'),
(20, 'Tom', 'South');
```

### Task 4: Average Product Price Over Time
**Objective**: Calculate the average price of each product over the last year using aggregate functions and grouping.

**Dataset**: Categories Table

```sql
CREATE TABLE Categories (
    CategoryID INT PRIMARY KEY,
    CategoryName VARCHAR(100)
);

INSERT INTO Categories (CategoryID, CategoryName) VALUES
(1, 'Electronics'),
(2, 'Mobiles'),
(3, 'Accessories'),
(4, 'Peripherals'),
(5, 'Storage'),
(6, 'Components');
```

### Task 5: Customer Rankings
**Objective**: Create a ranking of customers based on their total spending using window functions.

**Dataset**: You can use the previously created `Customers`, `Sales`, `Products`, and `Purchases` tables.

### Task 6: Product Performance Comparison
**Objective**: Write a subquery to compare the performance of products in different categories.

**Dataset**: You can also use the `Products`, `Categories`, and `Sales` tables created above.

In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:password@localhost:3306/dynamic_sales

'Connected: root@dynamic_sales'

Task 2: Top N Products by Sales
Objective: Create a dynamic SQL query to find the top N products based on total sales.

In [3]:
%sql SHOW TABLES

 * mysql+pymysql://root:***@localhost:3306/dynamic_sales
4 rows affected.

[('categories',), ('customers',), ('products',), ('sales',)]

In [4]:
%%sql
SELECT * FROM products LIMIT 1

 * mysql+pymysql://root:***@localhost:3306/dynamic_sales
1 rows affected.

[(1, 'Laptop', 101)]

In [19]:
%%sql
-- Lets change this to work dynamically
SET @n = 1; -- This can be changed to other values
SET @sql = CONCAT('
SELECT 
    ProductName, SUM(Quantity * Price) TotalSales
FROM Products p
JOIN sales s
ON s.ProductID = p.ProductID
GROUP BY ProductName
LIMIT ', @n); -- This will take any value of n
PREPARE stmt FROM @sql;
EXECUTE stmt
-- Top N Products by Sales

 * mysql+pymysql://root:***@localhost:3306/dynamic_sales
0 rows affected.
0 rows affected.
0 rows affected.
1 rows affected.

[('Laptop', Decimal('7010.00'))]