### Task:
You are managing an online store and want to create a report showing the **total sales for each product category for each year**. The years in the sales data are not fixed, meaning they vary based on new data being added regularly. You need to generate a report where each year is a column, dynamically, with the total sales for each category.

### Dataset Structure:

1. **Products** table:
   - `ProductID`
   - `ProductName`
   - `CategoryID`
   
2. **Categories** table:
   - `CategoryID`
   - `CategoryName`
   
3. **Sales** table:
   - `SaleID`
   - `ProductID`
   - `SaleDate` (which contains the date of the sale)
   - `Quantity`
   - `Price` (Price per unit sold)

### Expected Output:

You want to generate a table with the following structure:

| CategoryName  | 2020 | 2021 | 2022 | ... |
|---------------|------|------|------|-----|
| Electronics   | 1000 | 1500 | 2000 | ... |
| Clothing      | 500  | 700  | 1200 | ... |
| Accessories   | 200  | 300  | 400  | ... |

Each column represents a year dynamically pulled from the sales data.

### Dataset:

**Products**:
| ProductID | ProductName | CategoryID |
|-----------|-------------|------------|
| 1         | Laptop      | 101        |
| 2         | T-Shirt     | 102        |
| 3         | Headphones  | 103        |

**Categories**:
| CategoryID | CategoryName |
|------------|--------------|
| 101        | Electronics   |
| 102        | Clothing      |
| 103        | Accessories   |

**Sales**:
| SaleID | ProductID | SaleDate   | Quantity | Price |
|--------|-----------|------------|----------|-------|
| 1      | 1         | 2020-02-15 | 2        | 500   |
| 2      | 2         | 2021-06-20 | 5        | 20    |
| 3      | 3         | 2022-09-05 | 3        | 30    |

### Query Objective:
Write a dynamic SQL query that generates a report showing total sales (`Quantity * Price`) per product category for each year.

Would you like to attempt this task or shall I provide the solution as well?

In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:password@localhost:3306/dynamic_sales

'Connected: root@dynamic_sales'

In [23]:
%%sql
WITH sales_category AS(
    SELECT CategoryName, YEAR(SaleDate) SaleDate, (Quantity * Price) Total FROM Products
    JOIN Categories
    ON Categories.CategoryID = Products.CategoryID
    JOIN Sales ON Sales.ProductID = Products.ProductID
)
SELECT 
    CategoryName,
    SUM(CASE WHEN SaleDate = 2020 THEN Total ELSE 0 END) '2020',
    SUM(CASE WHEN SaleDate = 2021 THEN Total ELSE 0 END) '2021'

FROM sales_category
GROUP BY CategoryName

 * mysql+pymysql://root:***@localhost:3306/dynamic_sales
3 rows affected.

[('Electronics', Decimal('2840.00'), Decimal('2740.00')),
 ('Clothing', Decimal('189.00'), Decimal('595.00')),
 ('Accessories', Decimal('193.00'), Decimal('174.00'))]

In [30]:
%%sql
SET @distinct_years = NULL
SELECT
    GROUP_CONCAT(
        DISTINCT CONCAT(
            'SUM(CASE WHEN YEAR(SaleDate) = "',YEAR(SaleDate),'" THEN (Quantity * Price) ELSE 0 END) AS "',YEAR(SaleDate),'"'
            
        ))INTO @distinct_years
    FROM Sales;

-- 'SUM(CASE WHEN MONTHNAME(SaleDate) = "', MONTHNAME(SaleDate), '" THEN (Price * Quantity) ELSE 0 END) AS "', MONTHNAME(SaleDate), '"'

 * mysql+pymysql://root:***@localhost:3306/dynamic_sales
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'SELECT\n    GROUP_CONCAT(\n        DISTINCT CONCAT(\n            'SUM(CASE WHEN YEA' at line 2")
[SQL: SET @distinct_years = NULL
SELECT
    GROUP_CONCAT(
        DISTINCT CONCAT(
            'SUM(CASE WHEN YEAR(SaleDate) = "',YEAR(SaleDate),'" THEN (Quantity * Price) ELSE 0 END) AS "',YEAR(SaleDate),'"'

        ))INTO @distinct_years
    FROM Sales;]
(Background on this error at: http://sqlalche.me/e/14/f405)